# IDE
.idea

# Environments
venv/

# Byte-compiled / optimized / DLL files
__pycache__/


# Jupyter Notebook
.ipynb_checkpoints/

# Project folders
data/
logs/
models/

# files
*.json
*.xml
*.png